.gameboard1,
.gameboard2 {
  outline: 0.1rem black solid;
  display: grid;
  width: 25rem;
  height: 25rem;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  margin: 1rem;
}

.cell {
  border: 0.1rem black solid;
}

.ship {
  background-color: black;
  color: white;
}

@media only screen and (max-width: 880px) {
  .wrapper {
    justify-content: space-between;
  }
  .boards-wrapper {
    flex-direction: column;
  }
  .gameboard1,
  .gameboard2 {
    width: 18rem;
    height: 18rem;
  }
}
